## Polars 라이브러리 예시 코드

In [1]:
!pip install polars

Requirement already satisfied: polars in /home/user/Desktop/jupy/jup_notebook/lib/python3.8/site-packages (1.2.1)

### 데이터프레임 생성

In [2]:
import polars as pl

In [4]:
data = {
    "column1": [1, 2, 3, 4, 5],
    "column2": ["a", "b", "c", "d", "e"]
}

df = pl.DataFrame(data)
df

shape: (5, 2)
┌─────────┬─────────┐
│ column1 ┆ column2 │
│ ---     ┆ ---     │
│ i64     ┆ str     │
╞═════════╪═════════╡
│ 1       ┆ a       │
│ 2       ┆ b       │
│ 3       ┆ c       │
│ 4       ┆ d       │
│ 5       ┆ e       │
└─────────┴─────────┘

### 데이터 선택 및 필터링

In [6]:
df = pl.DataFrame({
    "column1": [1, 2, 3, 4, 5],
    "column2": ["a", "b", "c", "d", "e"],
    "column3": [5, 4, 3, 2, 1]
})

In [7]:
selected_columns = df.select(["column1", "column2"])
print(selected_columns)

shape: (5, 2)
┌─────────┬─────────┐
│ column1 ┆ column2 │
│ ---     ┆ ---     │
│ i64     ┆ str     │
╞═════════╪═════════╡
│ 1       ┆ a       │
│ 2       ┆ b       │
│ 3       ┆ c       │
│ 4       ┆ d       │
│ 5       ┆ e       │
└─────────┴─────────┘

In [8]:
filtered_rows = df.filter(pl.col("column1") > 2)
print(filtered_rows)

shape: (3, 3)
┌─────────┬─────────┬─────────┐
│ column1 ┆ column2 ┆ column3 │
│ ---     ┆ ---     ┆ ---     │
│ i64     ┆ str     ┆ i64     │
╞═════════╪═════════╪═════════╡
│ 3       ┆ c       ┆ 3       │
│ 4       ┆ d       ┆ 2       │
│ 5       ┆ e       ┆ 1       │
└─────────┴─────────┴─────────┘

### 데이터 변환

In [9]:
df = pl.DataFrame({
    "column1": [1, 2, 3, 4, 5],
    "column2": ["a", "b", "c", "d", "e"]
})

In [10]:
df = df.with_columns([
    (pl.col("column1") * 2).alias("double_column1")
])
df

shape: (5, 3)
┌─────────┬─────────┬────────────────┐
│ column1 ┆ column2 ┆ double_column1 │
│ ---     ┆ ---     ┆ ---            │
│ i64     ┆ str     ┆ i64            │
╞═════════╪═════════╪════════════════╡
│ 1       ┆ a       ┆ 2              │
│ 2       ┆ b       ┆ 4              │
│ 3       ┆ c       ┆ 6              │
│ 4       ┆ d       ┆ 8              │
│ 5       ┆ e       ┆ 10             │
└─────────┴─────────┴────────────────┘

### 그룹화 및 집계

In [13]:
df = pl.DataFrame({
    "group": ["A", "A", "B", "B", "C"],
    "value": [1, 2, 3, 4, 5]
})

grouped_df = df.group_by("group").agg([
    pl.col("value").sum().alias("sum_value"),
    pl.col("value").mean().alias("mean_value")
])
grouped_df

shape: (3, 3)
┌───────┬───────────┬────────────┐
│ group ┆ sum_value ┆ mean_value │
│ ---   ┆ ---       ┆ ---        │
│ str   ┆ i64       ┆ f64        │
╞═══════╪═══════════╪════════════╡
│ C     ┆ 5         ┆ 5.0        │
│ A     ┆ 3         ┆ 1.5        │
│ B     ┆ 7         ┆ 3.5        │
└───────┴───────────┴────────────┘

### 결합 및 조인

In [16]:
df1 = pl.DataFrame({
    "key": [1, 2, 3],
    "value1": ["a", "b", "c"]
})

df2 = pl.DataFrame({
    "key": [1, 2, 4],
    "value2": ["x", "y", "z"]
})

In [17]:
joined_df = df1.join(df2, on = "key", how = "inner")
joined_df

shape: (2, 3)
┌─────┬────────┬────────┐
│ key ┆ value1 ┆ value2 │
│ --- ┆ ---    ┆ ---    │
│ i64 ┆ str    ┆ str    │
╞═════╪════════╪════════╡
│ 1   ┆ a      ┆ x      │
│ 2   ┆ b      ┆ y      │
└─────┴────────┴────────┘